<% include templates/header.ejs %>

<section class="column">
    <h1>Page Not Found</h1>
    <p>Unfortunately, we couldn't find that page.</p>
</section>
<section class="grey"><div class="column">
    <%- partial('notFound') %>
</div></section>

<% include templates/footer.ejs %>