<% include templates/header.ejs %>

<section class="column">
    <h1>Admin Console <span class="small">(<a href="/admin/logout">Sign out</a>)</span></h1>
    <div class="box info-box">
        <p><strong>Success.</strong> You've been logged in.</p>
    </div>
    <%- partial('adminEvents') %>
</section>
<section class="grey"><div class="column">
    <h2>Configuration</h2>
    <form method="post" action="/admin/config-set/">
        <table>
            <tr>
                <td><label for="num_eventDisplayCount">Number of events to show on homepage:</label></td>
                <td><input type="number" name="eventDisplayCount" id="num_eventDisplayCount" value="3" /></td>
            </tr>
            <tr>
                <td><label for="num_activityDisplayCount">Number of activities to show on homepage:</label></td>
                <td><input type="number" name="activityDisplayCount" id="num_activityDisplayCount" value="4" /></td>
            </tr>
            <tr>
                <td><label for="num_fbAppId">Facebook App ID:</label></td>
                <td><input type="number" name="fbAppId" id="num_fbAppId" value="807401006028587" /></td>
            </tr>
            <tr>
                <td><label for="txt_fbAppSecret">Facebook App Secret:</label></td>
                <td><input type="text" name="fbAppSecret" id="txt_fbAppSecret" placeholder="●●●●●●●●" /></td>
            </tr>
        </table>
        <button type="submit">Update</button>
    </form>
</div></section>
<section class="column">
    <h2>Server Management</h2>
    <form method="post" action="/admin">
        <input type="hidden" name="action" value="clear-cache">
        <button type="submit">Clear cache</button>
    </form>
    <p>
        The server caches pages and page fragments to avoid fetching and rendering data unecessarily. Most operations
        that modify data should clear the caches for their respective operations, however if something fails to update,
        use this button to clear the entire cache. Note: this will not reload page files from the disk - a server
        restart is required in order to do that.
    </p>
</section>

<% include templates/footer.ejs %>