<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CODE Network</title>

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <link href="/bundle.css" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Code Network">
    <meta name="application-name" content="Code Network">
    <meta name="theme-color" content="#333333">

    <meta name="description" content="Code Network aims to help produce the best developers on the planet. Collaborate, practice and develop skills in creating quality software, and meet and network with professionals and academics.">
</head>
<body>

<header class="sticky-header"><div class="column">
        <a href="/"><img src="/img/logo-light.png" alt="CODE Network" height="50" /></a>
        <div class="push"></div>
        <% include templates/social.ejs %>
    </div></header>

<header class="big-header">
    <a href="/"><img src="/img/logo-light.png" alt="CODE Network" width="300" /></a>
    <h2>Build&nbsp;<span></span>&nbsp;as long as it is awesome.</h2>
    <% include templates/social.ejs %>
</header>

<section class="grey description"><div class="column">
        <p>
            Code Network aims to help produce the best developers on the planet. Collaborate, practice and develop skills in
            creating quality software, and meet and network with professionals and academics.<br>
        </p>
        <p class="button"><a href="https://www.facebook.com/groups/WeCodeAlot/" title="CODE Network Facebook Group">>> Become a beast</a></p>
    </div></section>

<%- partial('events') %>
<!--<section class="column">
    <h2>What's happening?</h2>
    <div class="event big-event">
        <div class="left event-image" style="background-image:url(/img/event-hackathon.jpg)"></div>
        <div class="right content">
            <div class="header">
                <h3><a href="/events/hackathon.html">Code Network Winter Hackathon</a></h3>
                <p>5PM Friday 12 August - 8PM Sunday 14 August</p>
            </div>
            <p><strong>Get Hyped!</strong></p>
            <p>
                Thrilled to announce Code Networks Winter Hackathon. Lets make it huge. We will be kitting out J Block
                for the event. Prizes, sponsor announcements and more details will be coming soon.
            </p>
            <p>
                Last years Hackathon was a great result, but we intentionally kept it smaller than we wanted because it
                was our first time hosting such an event. We have a lot more space, and hopefully budget, this time
                around so go HAM with inviting your friends, enemies and event people you disagree with Tabs VS Spaces.
            </p>
            <p><strong>Who should come?</strong></p>
            <p>
                Anyone! Whilst the majority will be software developers and designers, the best things are built when
                people from a bunch of different backgrounds come together.
            </p>
            <p><a href="/events/hackathon.html" title="More info on the Code Network Winter Hackathon">More info...</a></p>
        </div>
    </div>
    <div class="double-events">
        <div class="event">
            <div class="event-image" style="background-image:url(/img/event-friday-meetup.jpg)">
                <h3><a href="/events/friday.html">Weekly Friday Meetups</a></h3>
            </div>
            <div class="content">
                <div class="header">
                    <p>6PM Every Friday at Q218</p>
                </div>
                <p><code><span>while</span> (likesRobots <span>&amp;&amp;</span> likesDemos) attendCodenetworkFridayMeetup = <span class="error" title="Unknown identifier 'ture'">ture</span>;</code></p>
                <p>We hold weekly Friday meetups from 6PM @ GP Q218. Standups, live-code, robots, demos, pizza, and more...</p>
                <p>This week NaN will be talking about <strong>undefined</strong>.</p>
            </div>
        </div>
        <div class="event">
            <div class="event-image" style="background-image:url(/img/event-friday-meetup.jpg)">
                <h3><a href="/events/friday.html">Weekly Tuesday Coding</a></h3>
            </div>
            <div class="content">
                <div class="header">
                    <p>Every Tuesday at ???</p>
                </div>
                <p>
                    Every Tuesday we meet up at ??? to smash out some code and discuss things. Just rock up
                    whenever with your desktop, laptop, tablet, phone, smart watch, whatever and get to work.
                </p>
            </div>
        </div>
    </div>
</section>-->

<%- partial('activity') %>

<footer>
    <h2>Build whatever as long as it is awesome.</h2>
    <% include templates/social.ejs %>
    <p>Copyright &copy; CODE Network 2016 &middot; <a href="https://github.com/cpdt/codenetwork" title="CodeNetwork.co on Github">View on Github</a> &middot; Site design by <a href="http://mrfishie.com">Tom Barham</a></p>
</footer>

<script src="bundle.js"></script>

</body>
</html>