<% include templates/header.ejs %>

<header class="big-header">
    <div class="header-background"></div>
    <div class="header-container">
        <a href="/"><img src="/img/logo-light.png" alt="CODE Network" width="300" /></a>
        <h2>Build&nbsp;<span></span>&nbsp;as long as it is awesome.</h2>
        <% include templates/social.ejs %>
    </div>
    <div class="header-cover"></div>
</header>

<section class="grey description"><div class="column">
        <p>
            Code Network aims to help produce the best developers on the planet. Collaborate, practice and develop skills in
            creating quality software, and meet and network with professionals and academics.<br>
        </p>
        <p class="button"><a href="/signup" title="CODE Network Facebook Group">>> Become a beast</a></p>
    </div></section>

<%- partial('events') %>
<%- partial('activity') %>

<% include templates/footer.ejs %>