<% include templates/header.ejs %>

<section class="column">
    <h1>Logout</h1>
    <p>You've been logged out. <a href="/" title="CODE Network Home">Go home</a>.</p>
</section>

<% include templates/footer.ejs %>