</div>

<footer>
    <h2>Build whatever as long as it is awesome.</h2>
    <% include social.ejs %>
    <p>Copyright &copy; CODE Network 2016 &middot; <a href="https://github.com/cpdt/codenetwork" title="CodeNetwork.co on Github">View on Github</a> &middot; Site design by <a href="http://mrfishie.com">Tom Barham</a><br><a href="/admin/login">Admin login</a></p>
</footer>

<script src="/bundle.js"></script>

</body>
</html>