<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CODE Network</title>

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <link href="/bundle.css" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Code Network">
    <meta name="application-name" content="Code Network">
    <meta name="theme-color" content="#333333">

    <meta name="description" content="Code Network aims to help produce the best developers on the planet. Collaborate, practice and develop skills in creating quality software, and meet and network with professionals and academics.">
</head>
<body>

<header class="sticky-header"><div class="column">
        <a href="/"><img src="/img/logo-light.png" alt="CODE Network" height="50" /></a>
        <div class="push"></div>
        <% include social.ejs %>
</div></header>

<div class="site-wrapper">