<div class="social">
    <a href="https://www.facebook.com/groups/WeCodeAlot/" title="CODE Network on Facebook" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/qutcode" title="CODE Network on Twitter" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.youtube.com/channel/UCRi58jJri3fMvyWEBxL8y4Q" title="CODE Network on Youtube" target="_blank"><i class="fa fa-youtube-play"></i></a><a href="https://github.com/codenetwork" title="CODE Network on Github" target="_blank"><i class="fa fa-github"></i></a>
</div>