<section class="column">
    <h2>What's happening?</h2>
    <% for (var i = 0; i < events.length; i++) { var e = events[i]; %>
    <% if (e.type === 'single') { %><%- include('event', { event: e.item }) %>
    <% } else { %>
    <div class="double-events">
    <%- include('event', { event: e.items[0] }) %>
    <%- include('event', { event: e.items[1] }) %>
    </div>
    <% } %>
    <% } %>
</section>