<section class="grey"><div class="column">
    <h2>Recent Activity</h2>

    <div class="activity">
        <div class="activity-item"><div class="inner">
                <div class="content">
                    <p><strong>Adam Hibble</strong>, <abbr>5 hrs</abbr><span class="tag">Executive Blargh</span><span class="tag">Long</span></p>
                    <p><strong>Code Network is Growing!</strong></p>
                    <p>
                        The last year or so has really been about fostering our participants internally, and the last semester
                        was ensuring that our community culture of last year could travel fluidly between each new round of
                        Coders.
                    </p>
                    <p>
                        We did pretty well, there certainly were some things we could have done better - as I spoke to a few of
                        you at the Chicken wing night. ... <a href="https://www.facebook.com/groups/WeCodeAlot/permalink/1616206062011141/">See more</a>
                    </p>
                </div>
                <div class="bottom">
                    19 likes &middot; 20 comments
                </div>
            </div></div>
        <div class="activity-item"><div class="inner">
                <div class="content">
                    <p><strong>Adam Hibble</strong>, <abbr>yesterday at 5:20pm</abbr></p>
                    <p>
                        I spent way to much time planning my below the line vote. Someone should build at planner. So you
                        can optimize your votes based on specific policies your care about. Both from avoiding contradiction
                        and the way that the vote collapses.
                    </p>
                    <p>
                        A weighted graph comes to mind.
                    </p>
                </div>
                <div class="bottom">
                    24 likes &middot; 7 comments
                </div>
            </div></div>
        <div class="activity-item"><div class="inner">
                <div class="content">
                    <p><strong>Adam Hibble</strong>, <abbr>yesterday at 12:21am</abbr></p>
                    <p>
                        What are you working on ?
                    </p>
                </div>
                <div class="bottom">
                    1 like &middot; 29 comments
                </div>
            </div></div>
        <div class="activity-item"><div class="inner">
                <div class="content">
                    <p><strong>Adam Hibble</strong>, <abbr>10 hrs</abbr></p>
                    <p>
                        ~40 days until the Winter Hackathon (Oh god, I have so much left to do). Anyone have any ideas
                        yet?
                    </p>
                    <p><a href="http://www.eventbrite.com/e/the-code-network-winter-hackathon-tickets-26368697484?aff=fb">The Code Network Winter Hackathon</a></p>
                </div>
                <div class="bottom">
                    3 likes
                </div>
            </div></div>
    </div>

    <div class="view-more">
        <a href="https://www.facebook.com/groups/WeCodeAlot/" title="CODE Network on Facebook">See more...</a>
    </div>
</div></section>